.list{
    color: bisque;
    width: 300px;
    background-color: #bf07ac;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}

.list p{
    font-size: 1.5rem;
    padding: 10px;
    position: relative;
}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.faicons{
    margin: 0 5px;
    font-size: 15px;
}
.spaces{
    margin-left: 500px;

}